/* Barra lateral azul con gradiente */
.blue-gradient {
    background: linear-gradient(45deg, #2196f3, #42a5f5, #64b5f6);
    height: 105px;
}

/* Ajustes para el ícono y texto de la barra lateral */
.sidebar-title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: -40px 10px;
}

.sidebar-title .material-icons,
.sidebar-title .name {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

/* Ajustes generales de la barra lateral */
.sidenav.sidenav-fixed {
    width: 250px;
}

.main-content {
    margin-left: 280px;
    padding: 2rem;
}

@media (max-width: 992px) {
    .main-content {
        margin-left: 0;
    }
}


.sidenav a.active {
    background-color: #42a5f5; 
    color: #fff; 
}

.sidenav a.active i {
    color: #fff; 
}

.custom-label {
    color: #757575;
    font-size: 0.95rem;
    margin-bottom: 0.2rem;
    display: block;
    font-weight: 500;
}

.input-field input {
    margin-bottom: 1.2rem;
}

/* index.html */
.hero {
    height: 135vh;
    background: url('/static/img/udla.png') center/contain no-repeat;
    background-position: center -3px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    flex-direction: column;
    text-align: center;
    padding-top: 140px; /* Ajusta este valor para bajar el contenido */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.section-content {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

.section-content.visible {
    opacity: 1;
    transform: translateY(0);
}
