<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Proyecto Catequistas{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Sidenav -->
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background blue-gradient"></div>
                <div class="sidebar-title">
                    <i class="material-icons white-text">table_chart</i>
                    <span class="white-text name" style="font-size: 1.2rem;">Proyecto integrador</span>
                </div>
            </div>
        </li>
        <li><a href="{{ url_for('main.index') }}" class="{% if request.endpoint == 'main.index' %}active{% endif %}"><i
                    class="material-icons">home</i>Inicio</a></li>
        <li><a href="{{ url_for('catequistas.listar') }}"
                class="{% if request.endpoint == 'catequistas.listar' %}active{% endif %}"><i
                    class="material-icons">people</i>Catequistas</a></li>
        <li><a href="{{ url_for('arquideosis.listar') }}"
                class="{% if request.endpoint == 'arquideosis.listar' %}active{% endif %}"><i
                    class="material-icons">church</i>Arquidiócesis</a></li>
        <li><a href="{{ url_for('parroquia.listar') }}"
                class="{% if request.endpoint == 'parroquia.listar' %}active{% endif %}"><i
                    class="material-icons">location_city</i>Parroquias</a></li>
        <li><a href="{{ url_for('personas.listar') }}"
                class="{% if request.endpoint == 'personas.listar' %}active{% endif %}"><i
                    class="material-icons">person</i>Personas</a></li>

        <!-- Agregar más enlaces aquí para otras entidades -->
    </ul>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            if (elems.length) {
                M.Modal.init(elems);
            }
        });
    </script>
</body>

</html>